<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el archivo o directorio existe, servirlo directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Si no existe, redirigir la petición a index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>

Options -Indexes
